.simple-indicator .indicator-value { font-size:48px; }
.simple-indicator {
    padding: 40px 20px;
    text-align:center;
}

.metric-with-history .history-chart { float:left; }
.metric-with-history .simple-indicator { float:left; }
